body {
    background-color: #e4e9e9;
    color: #000dff;
    font-family: monospace;
    font-size: 1.5em;
    text-align: center;
    
   
}

h1 {
    color: #1c1d69;
}

h3{
    color: #66bfbf;
}   